[include]
  path = ~/.user.gitconfig
[push]
    default = simple
[remote "origin"]
    push = HEAD
[branch]
    autosetupmerge = true
[color]
    branch = auto
    diff = auto
    ui = true
[fetch]
    prune = true
[pull]
    rebase = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
# status helpers
    diff-stat = !git --no-pager diff --compact-summary

# branch helpers
    abbrev-name =  rev-parse --abbrev-ref
    branch-name =  abbrev-name HEAD
    default-branch-remote = abbrev-name origin/HEAD
    default-branch-local = !basename $(git default-branch-remote)
    pretty-branch =  branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    list-branch = !git --no-pager pretty-branch
    pretty-tag =  tag --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(taggerdate:relative), %(taggerdate:short)) [%(taggername)]' --sort=-taggerdate
    list-tag = !git --no-pager pretty-tag

#push helpers
    set-origin-branch = !git branch --set-upstream-to=origin/$(git branch-name) $(git branch-name)

# log helpers
    prettylog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    refloglog = !git log HEAD@{1}..HEAD@{0}
    last = log -1 HEAD --stat
    show-filenames = !git --no-pager show --name-only

# fetch helpers
    rebase-main = !git fetch && git rebase $(git default-branch-remote)
    rbm- = rebase-main

# old aliases
    err = "!f() {\
       printf \"\tuse $1\n\";\
       exit -1 ; \
    }; f"

    com  = !git err "gcmsg"
    coma = !git err "gcam"
    cof  = !git err "gcn!"
    cofa = !git err "gcan!"
    cor  = !git err "gc!"
    ppf  = !git err "gpf"
    ppn  = !git err "gpsup"
    pp   = !git err "gp"
    cho  = !git err "gco"
    chb  = !git err "gcb"
    rh-  = !git err "grhh"
    rs-  = !git err "grhh"
    rs   = !git err "grh"
    st   = !git err "gss"

[init]
	defaultBranch = main
[commit]
	template = /Users/yusairak@nulogy.com/.gitmessage
