[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yusaira Khan
	email = yusairak@nulogy.com
[push]
	default = simple
[remote "origin"]
	push = HEAD
[branch]
	autosetupmerge = true
[color]
	branch = auto
	diff = auto
	ui = true
[core]
	commentchar = $
[fetch]
	prune = true
[pull]
	ff = only
[alias]
	a = add
	ah = "add ."
	br = branch
	co = "commit -v"
    cma = "commit -am"
    cm = "commit -m"
    coan = "commit --amend --no-edit"
    coa = "commit --amend -v"
	ch = checkout
	chb = "checkout -b"
	st = status
	sh = show
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	pnew = "!git push -u origin $(git branch-name)"
	rhh = "reset --hard"
	rb = "rebase -i"
	plr = "pull --rebase"
	pl = "pull"
	cp = cherry-pick
	rf = reflog
